.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-button {
  width: 200px;
  background-color: #007bff;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 5%;
  font-weight: bold;
  font-size: 1.2rem;
}
.modal {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
