.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px 0;
}
.form-container input {
  width: 75%;
  padding: 8px;
  height: 20px;
}
.form-container h4 {
  margin: 0;
}
.form-container button {
  width: 100px;
  height: 50px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5%;
  font-weight: bold;
}
